{% extends "base.html" %}
{% block title %}Blog | {{profile.user.first_name}}{% endblock title %}
{% block content %}

      <div class="container">
        <div class="layout">
          <!-- left layout -->
          <div class="left">
            <div class="page-top">
              <div class="top flex">
                <div class="page-name">
                  <a href="#" class="learn">
                    <span class="material-icons"> keyboard_return </span> Go
                    back
                  </a>
                  <h1>Author</h1>
                </div>
              </div>
            </div>

            <center>
              <div class="typo">
                <h1 class="title">{{profile.user.first_name}}</h1>
                <p>
                  {{profile.bio}}
                </p>
              </div>
            </center>
            <section class="sp">
              <div class="container">
                <h1 class="sec-title">Top posts</h1>
                <div class="grid-2 blog">
                {% for post in top_posts %}
                  <!-- card -->
                  <a href="{% url "post_page" post.slug %}">
                    <div class="card">
                      <div class="post-img">
                        <img src="{{post.image.url}}" alt="" />
                        <div class="tag">{{post.tags.all.0.name}}</div>
                      </div>
                      <div class="card-content">
                        <h3>
                          {{post.title}}
                        </h3>
                        <div class="author">
                          <div class="profile-pic">
                            <img src="{{post.author.profile.profile_image.url}}" alt="" />
                          </div>
                          <div class="details">
                            <p>{{post.author.first_name}}</p>
                            <small>{{post.last_updated|date}}</small>
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                  <!-- card end-->
                  {% empty %}
                  <p>Nothing to show Here.</p>
                {% endfor %}
                </div>
              </div>
            </section>
            <section class="sp">
              <div class="container">
                <h1 class="sec-title">Recent Post</h1>
                <div class="grid-3 blog-grid">
                {% for post in recent_posts %}
                  <!-- card -->
                  <a href="{% url "post_page" post.slug %}">
                    <div class="card">
                      <div class="post-img">
                        <img src="{{post.image.url}}" alt="" />
                        <div class="tag">{{post.tags.all.0.name}}</div>
                      </div>
                      <div class="card-content">
                        <h3>
                          {{post.title}}
                        </h3>
                        <div class="author">
                          <div class="profile-pic">
                            <img src="{{post.author.profile.profile_image.url}}" alt="" />
                          </div>
                          <div class="details">
                            <p>{{post.author.first_name}}</p>
                            <small>{{post.last_updated|date}}</small>
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                  <!-- card end-->
                {% empty %}
                  <p>Nothing to show Here.</p>
                {% endfor %}
                </div>
                <center>
                  <button class="btn btn-primary rounded view">
                    View more
                    <span class="material-icons"> trending_flat </span>
                  </button>
                </center>
              </div>
            </section>
          </div>
          <!-- left layout end -->

          <!-- right layout -->
          <div class="right">
            <div class="block">
              <h2 class="title2">Top Authors</h2>
              {% for author in top_authors %}
              <div class="recent-post other-author">
                <div class="rounded-img">
                  <img src="{{author.profile.profile_image.url}}" alt="" />
                </div>
                <div class="recent-content">
                  <h3>
                    {{author.first_name}}
                  </h3>
                  <a class="learn" href="{% url "author_page" author.profile.slug %}">Learn more
                    <span class="material-icons"> trending_flat </span>
                </a>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
          <!-- right layout end -->
        </div>
      </div>
{% endblock content %}