{% extends "base.html" %}
{% block title %}Blog | Welcome {% endblock title %}
{% block content %}
    <main class="sp">
      <div class="container">
        <center>
          <div class="search-bar">
            <input type="text" placeholder="Search" />
            <a href="{% url "search" %}" class="animated-search" onclick="searchbar()">
              <i class="uil uil-search"></i>
            </a>
          </div>
          <div class="typo">
            {% if website_info.title %}
            <h1 class="title">{{website_info.title}}</h1>
            {% else %}
            <h1 class="title">Website Blog Title.</h1>
            {% endif %}

            {% if website_info.description %}
            <p>
              {{website_info.description}}
            </p>
            {% else %}
            <p>
              Lorem ipsum began as scrambled, nonsensical Latin derived from
              Cicero's 1st-century BC text De Finibus Bonorum et Malorum.
            </p>
            {% endif %}
          </div>
          <div class="newsletter">
            <form method="POST">
              {% csrf_token %}
              {{subscribe_form}}
              <button class="btn btn-primary">Subscribe</button>
            </form>
            {% if subscribe_successful %}
            <br><p>Subscribed Successfully.</p>
            {% endif %}
          </div>
        </center>
      </div>
    </main>
    {% if featured_blog %}
    <section class="sp">
      <div class="container">
        <a href="{% url "post_page" featured_blog.slug %}">
        <div class="grid-2">
          <div class="post-img">
            <img src="{{featured_blog.image.url}}" alt="" />
          </div>
          <div class="post-content">
            <div class="cetagory">
              <p>Category name</p>
            </div>
            <h1>
              {{featured_blog.title}}
            </h1>
            <p class="des">
              {{featured_blog.content|truncatechars:200}}
            </p>
            <a class="learn" href="#"
              >Learn more <span class="material-icons"> trending_flat </span></a
            >
          </div>
        </div>
        </a>
      </div>
    </section>
    {% endif %}
    <section class="sp">
      <div class="container">
        <h1 class="sec-title">Top blogs</h1>
        <div class="grid-3">
          {% for post in top_posts %}
          <!-- card -->
          <a href=" {% url "post_page" post.slug %} ">
            <div class="card">
              <div class="post-img">
                <img src="{{post.image.url}}" alt="" />
                <div class="tag">{{post.tags.all.0.name}}</div>
              </div>
              <div class="card-content">
                <h3>
                  {{post.title}}
                </h3>
                <div class="author">
                    <div class="profile-pic">
                      <img src="{{post.author.profile.profile_image.url}}" alt="" />
                    </div>
                    <div class="details">
                      <p>{{post.author.first_name}}</p>
                      <small>{{post.last_updated|date}}</small>
                    </div>
                  </div>
              </div>
            </div>
          </a>
          <!-- card end-->
          {% endfor %}
        </div>
        <center>
          <a href=""><button class="btn btn-primary rounded view">
            View more <span class="material-icons"> trending_flat </span>
          </button></a>
        </center>
      </div>
    </section>
    <section class="sp">
      <div class="container">
        <h1 class="sec-title">New blogs</h1>
        <div class="grid-3">
          {% for post in recent_posts %}
          <!-- card -->
          <a href=" {% url "post_page" post.slug %} ">
            <div class="card">
              <div class="post-img">
                <img src="{{post.image.url}}" alt="" />
                <div class="tag">{{post.tags.all.0.name}}</div>
              </div>
              <div class="card-content">
                <h3>
                  {{post.title}}
                </h3>
                <div class="author">
                  <div class="profile-pic">
                    <img src="{{post.author.profile.profile_image.url}}" alt="" />
                  </div>
                  <div class="details">
                    <p>{{post.author.first_name}}</p>
                    <small>{{post.last_updated|date}}</small>
                  </div>
                </div>
              </div>
            </div>
          </a>
          <!-- card end-->
          {% endfor %}
        </div>
        <center>
          <a href=""><button class="btn btn-primary rounded view">
            View more <span class="material-icons"> trending_flat </span>
          </button></a>
        </center>
      </div>
    </section>
{% endblock content %}

