{% extends 'base.html' %}
{% block title %}Blog | The Super Blog{% endblock title %}
{% load static %}

{% block content %}
      <div class="container">
        <div class="layout">
          <!-- left layout -->
          <div class="left">
            <div class="page-top">
              <div class="top flex">
                <div class="page-name">
                  <a href="#" class="learn">
                    <span class="material-icons"> keyboard_return </span> Go
                    back
                  </a>
                  <h1>Blog</h1>
                </div>
              </div>
            </div>

            <center>
              <div class="typo">
                <h1 class="title blog-title">
                  {{post.title}}
                </h1>
                <div class="timeline">
                  <div class="track">
                    <i class="uil uil-clock"></i>
                    <p class="time">{{post.last_updated|date}}</p>
                  </div>
                  <div class="track">
                    <i class="uil uil-users-alt"></i>
                    <p class="view-count">{{post.view_count}} view{{post.view_count|pluralize}}</p>
                  </div>
                  <div class="track">
                    {% if user.is_authenticated %}
                    <form action="{% url "bookmark_post" post.slug %}" method="POST">
                      {% csrf_token %}
                      <input type="hidden" name="post_id" value="{{post.id}}">
                      {% if is_bookmarked %}
                      <button type="submit" class="btn btn-info">
                        <i class="fa-solid fa-bookmark"></i>
                        <p class="bookmark">Remove Bookmark</p>
                      </button>
                      {% else %}
                      <button type="submit" class="btn btn-info">
                        <i class="uil uil-bookmark-full"></i>
                        <p class="bookmark">Bookmark</p>
                      </button>
                      {% endif %}
                    </form>
                    {% else %}
                      <a class="track" href="{% url "login" %}" >
                        <i class="uil uil-bookmark-full"></i>
                        <p class="bookmark">Bookmark</p>
                      </a> <br>
                    {% endif %}
                  </div>
                </div>
              </div>
            </center>
            <section class="mt">
              <div class="container">
                <!-- blog post -->
                <div class="blog-post">
                  <div class="post-img blog-img">
                    <img src="{{post.image.url}}" alt="" />
                  </div>
                  <div class="blog-post-content">
                    <p>
                      {{post.content|safe}}
                    </p>
                    <div class="blog-tags">
                    {% for tag in post.tags.all %}
                      <a href="{% url "tag_page" tag.slug %}" class="tag">{{tag.name}}</a>
                    {% endfor %}
                    </div>

                    <div class="social-share">
                      <div class="reactions">
                        <div class="likes">
                          {% if user.is_authenticated %}
                          <form action="{% url "like_post" post.slug %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="post_id" value="{{post.id}}">
                            {% if post_is_liked %}
                            <button type="submit">
                              <i class="fa-solid fa-heart"></i> <span>{{number_of_likes}}</span>
                            </button>
                            {% else %}

                            <button type="submit">
                              <i class="uil uil-heart"></i> <span>{{number_of_likes}}</span>
                            </button>
                            {% endif %}
                          </form>
                          {% else %}
                          <a class="track" href="{% url "login" %}" >
                            <i class="uil uil-heart"></i> <span>{{number_of_likes}}</span>
                          </a> <br>
                          {% endif %}
                        </div>
                        <div class="total-comments">
                          <i class="uil uil-comment-alt"></i>
                          <span>10</span>
                        </div>
                      </div>
                      <div class="share">
                        <div class="social">
                          <a href="#">
                            <i class="fa-brands fa-facebook-f"></i>
                          </a>
                          <a href="#">
                            <i class="fa-brands fa-instagram"></i>
                          </a>
                          <a href="#">
                            <i class="fa-brands fa-linkedin-in"></i>
                          </a>
                          <a href="#">
                            <i class="fa-brands fa-twitter"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                    {% for comment in comments %}
                    <!-- comments -->
                    <div class="user-comment">
                      <div class="author">
                        <div class="profile-pic">
                          <img src="{% static 'images/author.svg' %}" alt="" />
                        </div>
                        <div class="details">
                          <p>{{comment.name}}</p>
                          <small>{{comment.date|date}}</small>
                        </div>
                      </div>
                      <div class="comment-sec-main">
                        <div class="comment-sec">
                          <div class="comment">
                            <p>
                              {{comment.content}}
                            </p>
                          </div>
                          <div class="reply">
                            <button onclick="toggleDiv(this)">Reply</button>
                          </div>
                          <div class="comment-box" id="comment-reply-box">
                            <h3>Reply to post</h3>
                            <p>
                              Your email address will not be published. Required fields
                              are marked<span>*</span>
                            </p>
                            <form method="POST">
                              {% csrf_token %}
                              {{form.content}}
                              <div class="grid-3">
                                <input type="hidden" name="post_id" value="{{post.id}}">
                                <input type="hidden" name="parent" value="{{comment.id}}">
                                {{form.name}}
                                {{form.email}}
                                {{form.website}}
                              </div>

                              <button class="btn btn-primary rounded">
                                Post Reply
                              </button>
                            </form>
                          </div>

                        </div>

                        {% for reply in comment.replies.all %}
                        <div class="public-reply">
                          <div class="author">
                            <div class="profile-pic">
                              <img src="{% static 'images/author.svg' %}" alt="" />
                            </div>
                            <div class="details">
                              <p>{{reply.name}}</p>
                              <small>{{reply.date|date}}</small>
                            </div>
                          </div>
                          <div class="comment">
                            <p>
                              {{reply.content}}
                            </p>
                          </div>
                        </div>
                        {% endfor %}



                      </div>
                    </div>
                    <!-- Comment end -->
                    {% endfor %}
                  </div>
                </div>
                <div class="comment-box">
                  <h3>Leave a new comment to this post</h3>
                  <p>
                    Your email address will not be published. Required fields
                    are marked<span>*</span>
                  </p>
                  <form method="POST">
                    {% csrf_token %}
                    {{form.content}}
                    <div class="grid-3">
                      <input type="hidden" name="post_id" value="{{post.id}}">
                      {{form.name}}
                      {{form.email}}
                      {{form.website}}
                    </div>
                    <button class="btn btn-primary rounded">
                      Post comment
                    </button>
                  </form>
                </div>
              </div>
            </section>
          </div>
          <!-- left layout end -->

          <!-- right layout -->
          <div class="right">
            <div class="block">
              <h2 class="title2">Most recent</h2>
              {% for post in recent_posts %}
              <div class="recent-post">
                <div class="rounded-img">
                  <img src="{{post.image.url}}" alt="" />
                </div>
                <div class="recent-content">
                  <h3>
                    {{post.title}}
                  </h3>
                  <a class="learn" href="{% url "post_page" post.slug %}"
                    >Learn more
                    <span class="material-icons"> trending_flat </span></a
                  >
                </div>
              </div>
              {% endfor %}
            </div>

            <div class="block r-blog">
              <h2 class="title2">Related Blogs</h2>
              {% for post in related_posts %}
              <!-- card -->
              <a href="#">
                <div class="card">
                  <div class="post-img">
                    <img src="{{ post.image.url|default_if_none:'#' }}" alt="" />
                     {% for tag in post.tags.all %}
                      <a href="{% url "tag_page" tag.slug %}" class="tag">{{tag.name}}</a>
                    {% endfor %}
                  </div>
                  <div class="card-content">
                    <h3>
                     {{post.title}}
                    </h3>
                    <div class="author">
                      <div class="profile-pic">
                        <img src="{{post.author.profile.profile_image.url}}" alt="" />
                      </div>
                      <div class="details">
                        <p>{{post.author.first_name}}</p>
                        <small>{{post.last_updated|date}}</small>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
              <!-- card end-->
              {% endfor %}
            </div>
            <div class="block">
              <h2 class="title2">Top Author</h2>
              {% if top_authors %}
              {% for author in top_authors %}
              <div class="recent-post">
                <div class="rounded-img">
                  <img src="{{author.profile.profile_image.url}}" alt="" />
                </div>
                <div class="recent-content">
                  <h3>
                    {{author.first_name}}
                  </h3>
                  {% if author.profile.slug %}
                  <a class="learn" href="{% url "author_page" author.profile.slug %}"
                    >Learn more
                    <span class="material-icons"> trending_flat </span></a
                  >
                  {% else %}
                  {% endif %}
                </div>
              </div>
              {% endfor %}
              {% endif %}
            </div>
            <div class="block">
              <h2 class="title2">Top Tags</h2>
              <div class="blog-tags">
                {% for tag in tags %}
                  <a href="{% url "tag_page" tag.slug %}" class="tag">{{tag.name}}</a>
                {% endfor %}
              </div>
            </div>
          </div>
          <!-- right layout end -->
        </div>
      </div>


      {% endblock content %}